* {
  box-sizing: border-box;
}
/*=====================================================
                    base styles 
=====================================================*/

body {
  font-family: 'Lora', Garamond, serif;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}

h1,
h2,
h3,
a,
.footer-name {
  font-family: 'Alegreya Sans SC', Arial, sans-serif;
  font-weight: 700;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #000;
}

h2 {
  font-size: 1.1em;
}

h3 {
  font-size: 1.3em;
}

address {
  font-style: normal;
}

/*=====================================================
                    theme styles
=====================================================*/

body {
  background-image: linear-gradient(to bottom left, #ff0000, #ffff33);
  background-color: #ff0000;
}

.main-nav a {
  background-image: linear-gradient(to top, #ffcccc, #fff);
  background-color: rgba(225, 225, 225, 0);
  border-radius: 10px;
}

.main-nav a:hover {
  background-image: none;
}

.portfolio,
.skills {
  background-color: #fff;
}

.main-nav a:active {
  background-color: #fff;
}

.footer-nav {
  border-top: 2px solid #1a0000;
}

/*=====================================================
                    layout styles
=====================================================*/

.container {
  width: 95%;
  margin: auto;
}

.footer-nav,
.space-above {
  padding-top: 2.5em;
}

.footer-nav,
.space-below {
  padding-bottom: 2.5em;
}

nav a {
  display: block;
}

nav a,
.footer-name {
  padding: .625em;
}

ul {
  margin: 0;
  padding: 0;
}

.main-nav li {
  margin-bottom: .625em;
}

img {
  height: auto;
}

img,
h2,
.project-card {
  width: 100%;
}

.profile-img {
  width: 80%;
}

.portfolio {
  padding-left: 2.5%;
  padding-right: 2.5%;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.portfolio,
.project-card,
.skills,
.skills-container,
.skill-card {
  margin: 0 auto;
}

.project-card {
  padding-bottom: 1.5em;
}

.skill-card {
  padding: 1.25em;
}

.icon {
  width: 40%;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.desktop-footer-nav {
  display: none;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/*=====================================================
                    media queries 
=====================================================*/

@media screen and (min-width:768px) {
  .main-header {
    padding-bottom: 3.125em;
  }
  .main-nav li {
    font-size: 1.1em;
  }
  .main-nav a {
    background-image: none;
  }
  .main-nav li,
  .footer-nav li {
    display: inline-block;
  }
  .main-nav li,
  .footer-name,
  .footer-nav li {
    margin: 0 .3125em;
  }
  .profile {
    text-align: left;
  }
  .profile,
  .contact p {
    font-size: 1.125em;
  }
  .profile-img {
    float: right;
    width: 40%;
    margin-left: .9375em;
  }
  .project-card {
    width: 48%;
    padding-bottom: 2em;
  }
  .skill-card {
    width: 33%;
  }
  .contact {
    width: 65%;
  }
  address {
    font-size: 1.25em;
  }
  .footer-nav {
    padding: 1em 0 4em;
  }
  .mobile-footer-nav {
    display: none;
  }
  .desktop-footer-nav {
    display: block;
  }
}

@media screen and (min-width:1024px) {
  .container {
    width: 90%;
  }
  h1 {
    float: left;
    margin: 0;
    font-size: 1.875em;
  }
  .main-nav {
    float: right;
  }
  .profile {
    font-size: 1.25em;
  }
  .portfolio,
  .skills {
    width: 95%;
  }
  .project-card {
    width: 31%;
  }
  .skills-container {
    width: 80%;
  }
  .contact {
    width: 50%;
  }
  .footer-nav {
    padding-bottom: 1em;
  }
}

























